.roboto-condensed-300 {
  font-family: "Roboto Condensed", sans-serif, Arial;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    font-family: "Roboto Condensed", sans-serif, Arial;
    background-color: #FDEBD0;
}

label {
    font-size: 16px;
}

input, textarea, select {
    padding: 0.5rem;
    margin: 0.25rem 0;
}

.carousel {
  aspect-ratio: 16/9;    
  max-width: 600px;       
  margin: 10px auto;
  border: 5px solid black;
  border-radius: 10px;
  overflow: hidden;           
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*cover fit*/   
}


h1 {
    background-color: #DC143C;
    font-size:32px;
    text-align: center;
}

h2 {
    background-color: #FF6F61;
    font-size:26px;
}

.navbar {
    background-color: #FDEBD0 !important;   /* same shade as body */
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid black;
    padding: 10px;
}

main form, .event-form {
    background-color: #F7CAC9;
    border: 3px solid black;
    padding: 1rem;
    margin: 5%;
}

footer {
    background-color: #F75270;
}

button:hover, input[type="submit"]:hover, a:hover {
    text-shadow: 0 0 5px black;
    color: green;
    font-weight: bold;
}

#resetit {
    color: #b00020;
    border: 2px solid #800000;
    padding: 6px 12px;
    background-color: black;
}

.submitit {
    color: #ffffff;
    border: 2px solid #2e7d32;
    padding: 8px 16px;
    background-color: #43a047;
}
